@font-face {
    font-family: 'open-sans';
    src: url('OpenSans-Regular.ttf');
}
body {
    background-color: #000000;
    height: 1200px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
    font-family: open-sans, sans-serif;
}
h1 {
    text-align: center;
}
img {
    margin: 10px;
}
h1,
h3 {
    font-family: Helvetica, sans-serif;
}
img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
p {
    font-size: 1.2em;
}
.content {
    border-bottom: 1px solid white;
    background-color: #333333;
}
.details {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 20px;
}
.item > img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.page-header {
    margin-top: 0;
}
#effect {
    display: none;
    width: 100%;
    height: 0;
    padding: 0.4em;
    position: relative;
    background: #fff;
}
#copyright {
    text-align: center;
}
#search {
    border: 0;
    background-color: black;
}