@font-face {
    font-family: 'open-sans';
    src: url('OpenSans-Regular.ttf');
}
h2 { color: #000; }
p {
    padding-top: 90px;
    padding-left: 70px;
    color: #efefef;
}
#color-one {
    background-color: #000;
    height: 200px;
    width: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#color-two {
    background-color: #fff;
    height: 200px;
    width: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid black;
}
#font-one { font-family: Helvetica, sans-serif; }
#font-two { font-family: open-sans, sans-serif; }
